#title{
 background-color: #ff4c68;
 color:#fff;
}

body{

  font-family: "Montserrat-Black";
}

h1{
  font-family: 'Montserrat';
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.7;
}

h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid{
padding: 3%  13%;
}

.nav-item{
  padding: 0 18px;
}

.navbar{
  padding:0 0 4.5rem;
}

.nav-link{
  font-size: 1.2rem;


}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* button download */
.download-button{
  margin: 5% 3% 5% 0;

}

/*title image */
.title-image{
  width:60%;

}

h3{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  padding: 5% 0;
}

#features{
padding: 5% 15%;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

p{
  font-size: 1.5rem;
    color: #8f8f8f;
}


.icon{
  color: #ef8172;
  margin-bottom: 1rem;

}


.icon:hover{
  color:#ff4c68;
}


/* testimonial */
#testimonials{
  background-color: #ff4c68;

  color: #fff;
  text-align: center;


}

.testimonial-image{
width: 10%;
border-radius: 100%;
margin: 20px;
}

.carousel-inner{
padding: 7% 15%;
}

/* press */
#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 5%;

}

.press-img{
  width:15%;
  margin: 20px 20px 15px;
}


#pricing{
  padding:100px;
}

.card-pricing{
  padding:3% 2%;
}
