#title{
 background-color: #ff4c68;
 color:#fff;
}



body{

  font-family: "Montserrat-Black";
}

h1{
  font-family: 'Montserrat';
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.3;
}

.container-fluid{
padding: 3%  13%;
}

.nav-item{
  padding: 0 18px;
}


.navbar{
  padding:0 0 4.5rem;
}

.nav-link{
  font-size: 1.2rem;


}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* button download */
.download-button{
  margin: 5% 3% 5% 0;

}

/*title image */
.title-image{
  width:60%;
  transform: rotate(25deg);
}

h3{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  padding: 5% 0;
}

#features{
padding: 5% 15%;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

p{
  font-size: 1.5rem;
    color: #8f8f8f;
}


.icon{
  color: #ef8172;
  margin-bottom: 1rem;

}


.icon:hover{
  color:#ff4c68;
}
